@import url("primeicons/primeicons.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  background: white;
  background: linear-gradient(
    178deg,
    rgb(218 255 248) 0%,
    rgba(255, 255, 255, 1) 49%,
    rgba(255, 255, 255, 1) 100%
  );
}

a {
  @apply tw-text-emerald-800;
  @apply tw-cursor-pointer;
  @apply tw-transition-all;
  @apply tw-font-semibold;

  &:hover {
    @apply tw-text-emerald-400;
  }
}
